@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

.content {
    color:#87CEEB;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
  transition: opacity 0.6s ease;
}

.content p {
    font-size:1.75vw;
}

.content h1 {
    font-size:2vw;
}

/*.content h3 {*/
/*    font-size:.4vw;*/
/*}
note to self do fucking not use h3*/

.content.visible {
    opacity: 1;
}

.bg-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  z-index: -1;
  pointer-events: none; /* IMPORTANT */
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}


#intro {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.8s ease;
}

#intro.hidden {
  opacity: 0;
  pointer-events: none;
}

#intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
    
.recent-played {
    color:orange;
}

.recent-played-track {
    color:orange;
}